@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200&family=IBM+Plex+Mono:wght@100&family=Inter+Tight:wght@200&family=Montserrat:wght@100;800&family=Roboto:wght@100&family=Rubik+80s+Fade&family=Rubik+Storm&family=Space+Grotesk:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
